*.csproj
*.sln
*.booproj
Library/
_Build_/uRetroEngine_Data/
_Build_/*.exe
Temp/
*.userprefs
*.DotSettings
*.suo
Assets/UnityVS/
Assets/UnityVS.meta
obj/
Assets/AssetStoreTools/
Assets/AssetStoreTools.meta

