*.csproj
*.sln
*.booproj
Library/
_Build_/uRetroEngine_Data/
_Build_/*.exe
Assets/*.meta
Assets/AssetStoreTools/
Assets/Editor/
Assets/uRetroEngine Framework/
Temp/
*.userprefs
*.DotSettings
*.suo
Assets/UnityVS/
Assets/UnityVS.meta
obj/
Assets/AssetStoreTools/
Assets/AssetStoreTools.meta

